<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Paises
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
     <ion-title size="large"> <strong>Paises</strong></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="top" horizontal="end" slot="fixed" >
    <ion-fab-button color="danger" routerLink="/tabs/tab2">
      <ion-icon name="arrow-back-outline" ></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngFor="let p of paises">
    <ion-item >
      <ion-label >{{p.Country}}</ion-label>
    <ion-checkbox color="primary"  slot="start" [(ngModel)]="p.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="success" (click)="onSubmit()">
      <ion-icon name="checkmark-outline" ></ion-icon>
    </ion-fab-button>
  </ion-fab>

  

</ion-content>
